
<div id="userInfo">
    <p class="user"><b>User info:</b></p>
    <mat-divider></mat-divider>
    <p class="user"><i>First name:</i> {{userInfo.firstName}} </p>
    <p class="user"><i>Last name:</i> {{userInfo.lastName}} </p>
    <p class="user"><i>Username:</i> {{userInfo.username}} </p>
    <p class="user"><i>Email:</i> {{userInfo.email}} </p>
    <button mat-button 
            (click)="changeData()" 
            class="userButtons">
        Change data
    </button>
    <button mat-button 
            (click)="deleteAccount()" 
            class="userButtons">
        Delete account
    </button>
    </div>
    <mat-divider [vertical]="true" id="divider"></mat-divider>
    <div id="userSubjects">
        <p class="subjects"><b>User's subjects:</b></p>
        <mat-divider></mat-divider>
        <table class="subjects" class="table table-hover">
            <thead>
                <tr>
                    <th>Subject name</th>
                    <th>Exam date</th>
                    <th>Type of exam</th>
                    <th>Material type</th>
                    <th>Quantity of material</th>
                    <th>Days until exam</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of userSubjects"
                    id="row{{subject.id}}">
                    <td> {{subject.subjectName}} </td>
                    <td> {{subject.examDate}} </td>
                    <td> {{subject.typeOfExam}} </td>
                    <td> {{subject.materialType}} </td>
                    <td> {{subject.quantityOfMaterial}} </td>
                    <td> {{subject.daysUntilExam}} </td>
                    <td> 
                        <mat-progress-spinner
                            color="primary"
                            mode="determinate"
                            [value]="calculateValue(subject.id)"
                            [diameter]="30">
                        </mat-progress-spinner>
                    </td>
                    <td>
                        <button mat-stroked-button 
                                (click)="deleteSubject(subject)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>