#userInfo {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 500px;
}

#userSubjects {
    display: inline-block;
    position: relative;
    left: 350px;
    width: 850px;
    height: 500px;
}

.user {
    padding-top: 10px;
    padding-left: 10px;
}

.subjects {
    padding-top: 10px;
    padding-left: 10px;
}

.userButtons {
    display: inline;
}

#divider {
    display: inline-block;
    position: relative;
    left: 325px;
}