@font-face {
    font-family: lobster;
    src: url("/../../assets/Lobster\ 1.4.otf");
}

#mainContainerHeader {
    width: 1200px;
    height: 100px;
    margin: auto;
}

#titleContainer {
    /*background-color: blue;*/
    width: 400px;
    height: 100px;
    position: relative;
    cursor: pointer;

}

#loginRegisterContainer {
    /*background-color: brown;*/
    width: 800px;
    height: 100px;
    position: relative;
    left: 800px;
    bottom: 100px;
}

#userLoggedContainer {
    width: 800px;
    height: 100px;
    position: relative;
    left: 800px;
    bottom: 100px;
}

#titleHeader {
    font-family: lobster;
    font-size: 50px;
    padding: 25px;
   
}

#formHeader {
    position: relative;
    left: 350px;
}

