<div id="mainContainerHeader">
    <div id="titleContainer">
        <h1 id="titleHeader" 
            [routerLink]="['/']">
            Learning helper
        </h1>
    </div>
    <learn-login (onLogin)="displayUsername($event)" 
                 *ngIf="userLogged ? false : true"  
                 id="loginRegisterContainer">
    </learn-login>
    <learn-user *ngIf="userLogged ? true : false" 
                (onLogin)="displayUsername($event)" 
                id="userLoggedContainer">
    </learn-user>
</div>
