<mat-tab-group>
    <mat-tab label="Inspire yourself">
        <div id="quoteBox">
            <q style="display: block;">
                {{displayedQuote.quote}}    
            </q>
            <cite style="font-size: 15px; float: right;">
                {{displayedQuote.author}}
            </cite>
        </div>
        <button id="newQuoteButton" 
                mat-raised-button 
                color="primary" 
                (click)="setDisplayedQuote()">
            New random quote
        </button>
    </mat-tab>
    <mat-tab label="Learning" >
        <div *ngIf="isUserLoggedIn()" id="containerReadyForLearning">
            <img src="../../assets/readytolearn.png"
            [routerLink]="['/learning']" 
            [style.height]="'400px'" 
            [style.width]="'400px'" 
            [style.cursor]="'pointer'">
        </div>
        <div *ngIf="!isUserLoggedIn()" id="message">
            <p>Please sign in or register.</p>
            <img src="../../assets/arrow.png" 
                 height="350px" 
                 width="250px">
        </div>
    </mat-tab>
    <mat-tab *ngIf="isUserLoggedIn()" 
             label="Account">
        <learn-user-info></learn-user-info>
    </mat-tab>
    <mat-tab label="Help"> Content 3 </mat-tab>
</mat-tab-group>
  